#e2e_custom_material_table {
  ::-webkit-scrollbar {
    width: 0px !important;
    height: 7px !important;
  }
  .custom-table-wrapper {
    .MuiPaper-root {
      border-radius: 8px !important;
      background-color: var(--color-bg-card);

      .MuiBox-root {
        height: 3px;
        min-height: 0px;
      }
      .MuiTableContainer-root {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        // scrollbar-width: none; /* Firefox */
        .MuiBox-root {
          height: auto;
        }

        .MuiTable-root{
          .MuiTableHead-root{
            .MuiTableRow-root{
              .MuiTableCell-root{
                &:hover{
                  .MuiBadge-root{
                    display: none  !important;
                  }

                  .Mui-TableHeadCell-Content-Actions{
                    .MuiButtonBase-root {
                      display: none !important;
                    }
    
                    .MuiTableSortLabel-root{
                      display: none !important;
                    }
    
                 
                    }
                }
             
        
              }
            }
          }
        }
      }
      // .MuiTableContainer-root::-webkit-scrollbar {
      //   display: none; /* Safari and Chrome */
      // }
    }
  }
}
