#custom-background {
  height: 40px;
  padding: 12px 11px;
  border-radius: var(--border-radius-sm);
  background-color: var(--color-bg-custom-background);
  box-shadow: var(--box-custom-background-shadow);
  border: 1px solid var(--color-border-custom-background);
}
