#custom-icon-btn {
  .MuiIconButton-root {
    background-color: var(--color-body-bg-white) !important;
    border: 1px solid var(--candidate-card-border) !important;
    border-radius: var(--border-radius-xsm) !important;
  }
}
