#side_nav_container{
    width: 100px;
    height: 100vh;
    overflow: auto;
    // background-color: #eaeaea;
    color: #262626;
    padding: 15px 11px;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(var(--color-nav-bg), var(--color-nav-bg-opacity));
    box-shadow: 1px 2px 1px -1px rgba(0, 0, 0, .086), 2px 1px 1px 0 rgba(0, 0, 0, .078), 2px 0 3px 0 rgba(0, 0, 0, .063);

    .company-icon{
        margin-bottom: 20px;
        .company-image{
            width: 77px;
            height: 50px;
        }
    }

    .menu-icon-card{
        border-radius: 5px;
        display: grid;
        place-content: center;
        margin-bottom: 10px;
        cursor: pointer;
        width: 77px;
        height: 70px;
        font-size: 11px;
        font-weight: 700;
        &:hover{
            background-color: hsla(0, 0%, 49%, .149);
        }

        .menu-name,.icon{
            text-align: center;
        }
    }

    .active-card{
        background-color: hsla(0, 0%, 49%, .149);
    }


}