#top_nav_wrapper{
    height: 70px;
    width: calc(100vw - 99px);
    // background-color: #eaeaea;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(var(--color-nav-bg), var(--color-nav-bg-opacity));
    box-shadow: var(--navbar-box-shadow);
    height: 60px;
    z-index: 1300;
    .nav-contents{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0px 30px;

        .profile{
            display: flex;
            align-items: center;
            column-gap: 10px;
            .name{
                font-weight: 600;
                font-size: 18px;
                color: rgb(11, 11, 104);
            }
        }
    }
}