.e2e_design_check_box {
  .ant-checkbox-inner {
    border: 1px solid var(--color-primary-border) !important;
  }
  .ant-checkbox-wrapper-checked {
    .ant-checkbox-inner {
      background-color: var(--color-secondary);
      border-color: var(--color-secondary);
      border: 1px solid var(--color-secondary) !important;
    }
  }
  .input-wrapper-field-label {
    color: var(--color-primary-text);
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-400);
    line-height: 19px;
  }
  .input-wrapper-field-label-desc {
    color: var(--color-secondary-text);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-300);
    font-family: var(--font-family);
    line-height: 19px;
  }
}
