.childrows {
  max-height: 100%;
  transition: max-height 0.5s ease-in-out;
}

.parent-row.open .childrows {
  overflow: hidden;

  max-height: 100%; /* Adjust the maximum height as needed */
  transition: max-height 0.5s ease-in-out;
}

.accordion-header {
  transition: background-color 0.5s;
  th {
    border: none !important;
  }
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordion-content.opened {
  max-height: max-content;
}

.inner-item {
  &:last-child {
    td {
      border-bottom: 1px solid var(--color-primary-border);
    }
  }
}

.dnd-table {
  border: none;
  border-collapse: collapse;
  min-width: -moz-available;
  min-width: -webkit-fill-available;
  min-width: stretch;
  width: fit-content;
  background-color: var(--color-textfield-background-color);

  td {
    border-left: 1px solid var(--color-primary-border);
    border-right: 1px solid var(--color-primary-border);
    border-top: 1px solid var(--color-primary-border);
  }
  th {
    height: 45px;
    border-left: 1px solid var(--color-primary-border);
    border-right: 1px solid var(--color-primary-border);
    // border-top: none;
  }
  .table-header-row {
    th {
      padding-left: 19px !important;
    }
    th,
    td {
      border: 1px solid var(--color-primary-border);

      // border: 1px solid var(--color-primary-border);
      padding: 2px 5px;
      text-align: left;
    }
    th:first-child,
    td:first-child {
      border-left: none;
    }
    th:last-child,
    td:last-child {
      border-right: none;
    }
  }
  .header-row {
    th {
      padding-left: 19px;
    }
    th,
    td {
      border-left: 1px solid var(--color-primary-border);
      border-right: 1px solid var(--color-primary-border);
      border-top: 1px solid var(--color-primary-border);

      padding: 2px 5px;
      text-align: left;
    }
    th:first-child,
    td:first-child {
      border-left: none;
    }
    th:last-child,
    td:last-child {
      border-right: none;
    }
    .drag-handle {
      visibility: hidden;
      color: var(--color-ternary-text);
    }

    &:hover {
      background-color: var(--color-secondary-opacity10);
      th,
      td {
        border-bottom: 1px solid var(--color-secondary);
        border-top: 1px solid var(--color-secondary);
      }
      .drag-handle {
        visibility: visible;
      }
    }
  }

  .selected-row {
    background-color: var(--color-secondary-opacity10);

    th,
    td {
      border-bottom: 1px solid var(--color-secondary);
      border-top: 1px solid var(--color-secondary);
    }
  }

  .header-row.check-animation {
    background: transparent
      linear-gradient(270deg, #c851a8 0%, #7d80d6 46%, #8de2dc 100%) 0% 0%
      no-repeat padding-box;
    background-size: 400% 100%;
    animation: gradient 1s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #text-row-wrapper {
    height: calc(100vh - 400px);
    .parent-row {
      width: 100%;
      background-color: var(--color-body-bg);
      .drag-handle {
        visibility: hidden;
        color: var(--color-ternary-text);
      }
      &:hover {
        background-color: var(--color-secondary-opacity10);
        .drag-handle {
          visibility: visible;
        }
      }
      .name-column {
        border-left: 1px solid var(--color-primary-border);
        border-right: 1px solid var(--color-primary-border);
        border-bottom: none;
        // border: 1px solid var(--color-primary-border);
        // border: none;
        display: flex;
        align-items: center;
        // justify-content: space-between;
      }
      .add-child {
        color: var(--color-input-placeholder);
        text-transform: unset;
      }
    }

    tr {
      &:hover {
        background-color: var(--color-body-bg) !important;
      }
    }
    .table-cell-common {
      position: relative;
      overflow: hidden;
      font-size: 12px;
      color: var(--color--textfield-sub-heading);

      font-weight: 500;
      // &:hover {
      //   background-color: var(--card-menu-hover-bg);
      // }
    }

    .MuiOutlinedInput-notchedOutline {
      border-color: var(--color-transparent);
    }

    .MuiInputBase-root {
      height: 40px;
      border: 1px solid var(--color-transparent);
      background-color: var(--color-transparent);
      color: var(--color-primary-text);

      &:hover {
        border: 1px solid var(--color-transparent);
      }

      .MuiInputBase-input {
        padding: 5.5px 14px;
        font-size: 14px;
      }
    }

    .Mui-focused {
      background-color: var(--color-textfield-background-color) !important;
    }

    .MuiSelect-select {
      width: 100px;
    }
  }
  // .resizeable-header {
  .table-cell-common {
    min-width: 175px;
    position: relative;
    overflow: hidden;
    font-size: 12px;
    color: var(--color--textfield-sub-heading);
    font-weight: 500;
    // &:hover {
    //   background-color: var(--card-menu-hover-bg);
    // }
  }

  .resize-handle {
    position: absolute;
    top: 0;
    right: -4px;
    width: 8px;
    height: 100%;
    cursor: col-resize;
    background-color: var(--color-transparent);
  }
}

.add-child-row {
  &:hover {
    background-color: var(--color-secondary-opacity10) !important;
  }
  th,
  td {
    height: 45px;
    z-index: 1;

    .add-child {
      color: var(--color-input-placeholder);
      text-transform: capitalize;
      font-size: 14px;
      z-index: 0;
      margin-left: 5rem;
      cursor: pointer;
    }
  }
  th:first-child,
  td:first-child {
    border-left: none;
  }
  th:first-child,
  td:first-child {
    border-right: none;
  }
}
