#error-illustration {
  width: 100%;
  .error-illustration-wrapper {
    text-align: center;
    .error-illustration-heading {
      font-size: 32px;
      font-weight: 500;
    }

    .error-illustration-subHeading {
      font-size: 18px;
      font-weight: 500;
    }
  }
}
